.carousel-img:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 12px;
    width: 100%;
    height: 100%;
    display: inline-block;
    background: linear-gradient(90deg, #151515 0%, rgba(21, 21, 21, 0) 100%);
    /* background: linear-gradient(to right, rgba(0, 47, 75, 0.5) 0%, rgba(220, 66, 37, 0.5) 100%); */
}